<!-- <app-machines></app-machines> -->

<div id="printer-container"> 
   <h3>PRINTER {{ machineNumber }}</h3>
   <p> {{isPrinting}} </p>
   <div></div>

   <div id="button-container">
  <button class="btn badgerAllow" (click) = 'print()'>PRINT<i class="material-icons badger green">print</i></button>
  <button class="btn badgerAllow" (click) = 'maintain()'>MAINTAIN<i class="material-icons badger">build</i></button>
  <button class="btn">LOGS</button>
  </div>

  <router-outlet></router-outlet>

</div>