#printer-container{
    height: calc(100vh - 46px);
    text-align: center;
}

#button-container{
    
    padding: 30px;
    width: 100%;
}

#button-container button{
    
    margin: 30px;
}

.badgerAllow{
    position: relative;
}

.badger {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: red;
    padding-left: 10px;
    top: -25px;
    right: -25px;
}